In [1]:
from bs4 import BeautifulSoup
import requests
import re
import pandas as pd

URL = 'https://cuspide.com/100-mas-vendidos/'
peticion= requests.get(URL)
html = peticion.text

soup = BeautifulSoup(html, 'html.parser')

libros = soup.find_all(class_=["woocommerce-loop-product__title"], string=re.compile(""))  
bdi = soup.find_all('bdi')

In [2]:
data = {'Libros': [], 'Precio': []}
df = pd.DataFrame(data)

In [3]:
for i,j in zip(libros,bdi):
    libro = i.text
    precio = j.text 
    df = pd.concat([df, pd.DataFrame({'Libros': [libro], 'Precio': [precio]})], ignore_index=True)

In [4]:
df

                                               Libros       Precio
0     LA CASA NEVILLE . LA FORMIDABLE SEÑORITA  MANON       $ 0,00
1                                ESTE DOLOR NO ES MIO  $ 11.900,00
2                                               OXIDO  $ 11.500,00
3                                   EL PROBLEMA FINAL  $ 12.999,00
4                                          ARTIFICIAL  $ 10.699,00
..                                                ...          ...
85                          MESSI , CAMPEON DEL MUNDO   $ 9.699,00
86                    EL ETERNAUTA ( ED . ECONOMICA )   $ 5.990,00
87                                            EL LOCO  $ 11.900,00
88  WINNIE THE POOH / MI PRIMERA MIRADA A LA TIERR...   $ 8.600,00
89                         QUIZ BOOK - FUTBOL MUNDIAL     $ 400,00

[90 rows x 2 columns]

In [15]:
def alphabets(element):
    return "".join(filter(str.isalpha, element))

In [16]:
df['Libros'] = df['Libros'].str.replace('\d+', '', regex=True)
df['Libros'] = [alphabets(x) for x in df['Libros']]
df['Precio'] = df['Precio'].str.replace('[^0-9]', '', regex=True)
df.to_csv('libros.csv', index= False)

In [ ]:
# # Guardar el DataFrame en un archivo CSV
# df['Precio'] = df['Precio'].str.replace('$', '')  
# df['Precio'] = df['Precio'].str.replace('.', '')  
# df['Precio'] = df['Precio'].str.replace(',', '')
# df.to_csv('libros.csv', index= False)

# print(df)